.hero {
  height: 100vh;
  width: 100vw;

  background-color: black;
  // display: flex;
  position: relative;
  .me-bw {
    z-index: 0;
    height: 100%;
    width: 100%;
    // flex: 1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
      opacity: 0.3;
    }
  }
  .description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    .hero-header {
      flex-basis: 10%;
      display: flex;
      flex-direction: row-reverse;
      gap: 0;
      margin-right: 0;
      align-items: center;
      justify-content: center;
      svg {
        margin: 0 0.5rem;
        fill: white;
      }
    }
    .hero-content {
      color: white;
      flex-basis: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      span {
        color: $primary;
      }
      p {
        font-size: 1em;
      }
      h1 {
        font-weight: normal;
        font-size: 2em;
      }
      h3 {
        font-weight: normal;
        font-size: 1.2em;
      }
      .cta-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 3rem;
        padding: 0 5rem;
        a {
          border: 2px solid white;
          border-radius: 500px;
          padding: 0.5rem 3rem;
          color: white;
          font-size: 1em;
          transition: all 0.25s ease;
          margin: 0.5rem 0;
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
