.hire {
  height: 50vh;
  width: 100vw;
  background-color: $grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 2em;
    color: $darkGrey;
    font-weight: 600;
  }
  h3 {
    font-size: 1em;
    font-weight: 500;
  }
  .social-media {
    margin-top: 1rem;
    display: flex;
    gap: 0;
    svg {
      margin: 0 0.5rem;
    }
  }
}
