@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .me-bw {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero .me-bw img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  opacity: 0.5;
}

.hero .description {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .description .hero-header {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1rem;
  margin-right: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .description .hero-header svg {
  fill: white;
}

.hero .description .hero-content {
  color: white;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .description .hero-content span {
  color: #01c5c4;
}

.hero .description .hero-content p {
  font-size: 2em;
}

.hero .description .hero-content h1 {
  font-weight: normal;
  font-size: 5em;
}

.hero .description .hero-content h3 {
  font-weight: normal;
  font-size: 3em;
}

.hero .description .hero-content .cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.hero .description .hero-content .cta-container a {
  border: 3px solid white;
  border-radius: 500px;
  padding: 0.5rem 3rem;
  color: white;
  font-size: 1.5em;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.hero .description .hero-content .cta-container a:hover {
  background-color: white;
  color: black;
}

.skills {
  position: relative;
  height: 50vh;
  width: 100vw;
  background-color: #dadada;
}

.skills .card-container {
  height: 100%;
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills .card-container .card {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.skills .card-container .card img {
  height: 30%;
  width: 30%;
}

.skills .card-container .card .basic-web-logo {
  width: 70%;
}

.skills .card-container .card .skills-description {
  color: #404040;
  text-align: center;
}

.skills .card-container .card .skills-description h3 {
  font-weight: 600;
}

.works {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 5%;
  gap: 1rem;
}

.works .works-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works .works-content h4,
.works .works-content h2 {
  font-weight: 600;
}

.works .works-content h4 {
  color: #01c5c4;
}

.works .works-content h2 {
  color: white;
  font-size: 2em;
}

.works .works-content p {
  text-align: justify;
}

.works .works-content a {
  color: white;
}

.works .works-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works .works-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.hire {
  height: 50vh;
  width: 100vw;
  background-color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hire h2 {
  font-size: 4em;
  color: #404040;
  font-weight: 600;
}

.hire h3 {
  font-size: 2em;
  font-weight: 500;
}

.hire .social-media {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
  }
  .hero .me-bw {
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .hero .me-bw img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
    opacity: 0.2;
  }
  .hero .description {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .description .hero-header {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1rem;
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .description .hero-header svg {
    fill: white;
  }
  .hero .description .hero-content {
    color: white;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .hero .description .hero-content span {
    color: #01c5c4;
  }
  .hero .description .hero-content p {
    font-size: 1em;
  }
  .hero .description .hero-content h1 {
    font-weight: normal;
    font-size: 2em;
  }
  .hero .description .hero-content h3 {
    font-weight: normal;
    font-size: 1.2em;
  }
  .hero .description .hero-content .cta-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5rem;
  }
  .hero .description .hero-content .cta-container a {
    border: 2px solid white;
    border-radius: 500px;
    padding: 0.5rem 0;
    color: white;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-size: 1em;
  }
  .hero .description .hero-content .cta-container a:hover {
    background-color: white;
    color: black;
  }
  .skills {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
  }
  .skills .card-container {
    height: 100%;
    width: 100%;
    position: static;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .skills .card-container .card {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .skills .card-container .card img {
    height: 30%;
    width: 30%;
  }
  .skills .card-container .card .basic-web-logo {
    width: 70%;
  }
  .skills .card-container .card .skills-description {
    color: #404040;
    text-align: center;
  }
  .skills .card-container .card .skills-description h3 {
    font-weight: 600;
  }
  .hire {
    height: 50vh;
    width: 100vw;
    background-color: #dadada;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hire h2 {
    font-size: 2em;
    color: #404040;
    font-weight: 600;
  }
  .hire h3 {
    font-size: 1em;
    font-weight: 500;
  }
  .hire .social-media {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */